



#t {
  margin: 20px 0;
  background-color: #0085fe;
  color: #ffffff;
  font-weight: bold;
  height: 40vh;
  
}
#paragraph{
  
  margin: 10px; 
  padding: 10px;
}


#paragraph1{
  display: flex;
  margin: 20px 0 10px 20px; 
}


/* getting statrted */




/* others */
